/*////////// FORMS //////////*/

input, textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  border-bottom: 0;
}