/* LIGHT GRID */

.container {  
  width: 980px;
  margin: 0 auto;
  background: #efefef;
}

.container-fluid {
  width: 100%;
}

.row {
  clear: both;
  background: #ccc;
}

.row:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

[class^="col-"] {
  float: left;
  padding: 2%;
  margin: 0 0 2% 2%;
  background: aqua;
}

[class^="col-"]:first-child {
  margin-left: 0;
}

.col-1  { width: 6.5%;  }
.col-2  { width: 15%;   }
.col-3  { width: 23.5%; }
.col-4  { width: 32%;   }
.col-5  { width: 40.5%; }
.col-6  { width: 49%;   }
.col-7  { width: 57.5%; }
.col-8  { width: 66%;   }
.col-9  { width: 74.5%; }
.col-10 { width: 83%;   }
.col-11 { width: 91.5%; }
.col-12 { width: 100%;  }